{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'pagetitle.checkmail'|trans }} {{ parent() }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="text-center">
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </h4>
        </div>
    </div>
{% endblock %}
