{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'pagetitle.requesterror'|trans }} {{ parent() }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="text-center">
                {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
            </h4>
        </div>
    </div>
{% endblock fos_user_content %}
